.socialContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}
.socialLink {
  height: 50px;
  width: 50px;
}

.socialLinkHover {
  height: 50px;
  width: 50px;
  margin: 0 20px;
  position: relative;
}

.socialLinkHover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  transform: skewX(45deg) translateX(80px);
  transition: 0.5s;
}

.socialLinkHover:hover::before {
  transform: skewX(45deg) translateX(-60px);
}

@media only screen and (max-width: 425px) {
  .socialLink {
    height: 25px;
    width: 25px;
  }
  .socialLinkHover {
    height: 25px;
    width: 25px;
  }
  .socialLinkHover::before {
    width: 20px;

    transform: skewX(45deg) translateX(40px);
  }
  .socialLinkHover:hover::before {
    transform: skewX(45deg) translateX(-40px);
  }
}
